## Pandas Lab Exercise (Kaggle Automobile Dataset)

We shall now test your skills in using Pandas package. We will be using the [automobiles Dataset](https://www.kaggle.com/nisargpatel/automobiles/data) from Kaggle. 

Answer each question asked below wrt the automobiles dataset. Load pandas as pd and upload the Automobile.csv file as auto

In [4]:
import pandas as pd

**Load the Automobile dataset into variable "auto"**

In [5]:
auto=pd.read_csv("Automobile.csv")
print(auto.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 26 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   symboling            201 non-null    int64
 1   normalized_losses    201 non-null    int64
 2   make                 201 non-null    object
 3   fuel_type            201 non-null    object
 4   aspiration           201 non-null    object
 5   number_of_doors      201 non-null    object
 6   body_style           201 non-null    object
 7   drive_wheels         201 non-null    object
 8   engine_location      201 non-null    object
 9   wheel_base           201 non-null    float64
 10  length               201 non-null    float64
 11  width                201 non-null    float64
 12  height               201 non-null    float64
 13  curb_weight          201 non-null    int64
 14  engine_type          201 non-null    object
 15  number_of_cylinders  201 non-null    object
 16  engine_size          201 non-null    int64
 17  fuel_system          201 non-null    object
 18  bore                 201 non-null    float64
 19  stroke               201 non-null    float64
 20  compression_ratio    201 non-null    float64
 21  horsepower           201 non-null    int64
 22  peak_rpm             201 non-null    int64
 23  city_mpg             201 non-null    int64
 24  highway_mpg          201 non-null    int64
 25  price                201 non-null    int64
dtypes: float64(7), int64(9), object(10)
memory usage: 41.0+ KB
None

**Check the head of the DataFrame.**

In [6]:
auto.head()

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,168,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,168,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

**How many rows and columns are there?**

In [17]:
rows, columns = auto.shape
print("rows:", rows, "columns:", columns)

rows: 201 columns: 26

**What is the average Price of all cars in the dataset?**

In [20]:
avg = auto['price'].mean()
print("Average:", avg)

Average: 13207.129353233831

**Which is the cheapest make and costliest make of car in the lot?**

In [24]:
cheapest_row = auto.loc[auto['price'].idxmin()]
print(cheapest_row['make'])

subaru

In [25]:
costliest_row = auto.loc[auto['price'].idxmax()]
print(costliest_row['make'])

mercedes-benz

**How many cars have horsepower greater than 100?**

In [29]:
high_hp = auto[auto['horsepower'] > 100].shape[0]
print(high_hp)

90

**How many hatchback cars are in the dataset ?**

In [30]:
hatchback = auto[auto['body_style'] == 'hatchback'].shape[0]
print(hatchback)

68

**What are the 3 most commonly found cars in the dataset?**

In [31]:
common_cars = auto['make'].value_counts().head(3)
print(common_cars)

toyota    32
nissan    18
mazda     17
Name: make, dtype: int64

**Someone purchased a car for 7099, what is the make of the car?**

In [32]:
car_make = auto[auto['price'] == 7099]['make'].iloc[0]
print(car_make)

nissan

**Which cars are priced greater than 40000?**

In [34]:
cars = auto[auto['price'] > 40000]
print(cars['make'])

15              bmw
70    mercedes-benz
71    mercedes-benz
Name: make, dtype: object

**Which are the cars that are both a sedan and priced less than 7000?**

In [38]:

auto[(auto['body_style'] == 'sedan') & (auto['price'] < 7000)]

,symboling,normalized_losses,make,fuel_type,aspiration,number_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
19,0,81,chevrolet,gas,std,four,sedan,fwd,front,94.5,...,90,2bbl,3.03,3.11,9.6,70,5400,38,43,6575
24,1,148,dodge,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.4,68,5500,31,38,6692
42,0,110,isuzu,gas,std,four,sedan,rwd,front,94.3,...,111,2bbl,3.31,3.23,8.5,78,4800,24,29,6785
50,1,113,mazda,gas,std,four,sedan,fwd,front,93.1,...,91,2bbl,3.03,3.15,9.0,68,5000,31,38,6695
82,1,125,mitsubishi,gas,std,four,sedan,fwd,front,96.3,...,122,2bbl,3.35,3.46,8.5,88,5000,25,32,6989
86,1,128,nissan,gas,std,two,sedan,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,5499
88,1,128,nissan,gas,std,two,sedan,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,6649
89,1,122,nissan,gas,std,four,sedan,fwd,front,94.5,...,97,2bbl,3.15,3.29,9.4,69,5200,31,37,6849
118,1,154,plymouth,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.4,68,5500,31,38,6692
152,0,91,toyota,gas,std,four,sedan,fwd,front,95.7,...,98,2bbl,3.19,3.03,9.0,70,4800,30,37,6938

 **Count the number of unique values in the `fuel_type` column.**

In [41]:
unique_fuel = auto['fuel_type'].value_counts()
print(unique_fuel)

gas       181
diesel     20
Name: fuel_type, dtype: int64

**List all the cars that have a horsepower between 100 and 200, and display their `make`, `horsepower`, and `price`.**

In [44]:
cars_hp = auto[(auto['horsepower'] > 100) & (auto['horsepower'] <200)]
result = cars_hp[['make', 'horsepower', 'price']]
print(result)

            make  horsepower  price
0    alfa-romero         111  13495
1    alfa-romero         111  16500
2    alfa-romero         154  16500
3           audi         102  13950
4           audi         115  17450
..           ...         ...    ...
196        volvo         114  16845
197        volvo         160  19045
198        volvo         134  21485
199        volvo         106  22470
200        volvo         114  22625

[85 rows x 3 columns]

**Find the average `city_mpg` and `highway_mpg` for each `body_style`.**

In [45]:
average_mpg = auto.groupby('body_style')[['city_mpg', 'highway_mpg']].mean()

print(average_mpg)

              city_mpg  highway_mpg
body_style
convertible  20.500000    26.000000
hardtop      21.625000    27.250000
hatchback    26.602941    32.382353
sedan        25.053191    30.574468
wagon        24.040000    28.720000

**What is the median `price` for each `make`?**

In [46]:
median_price= auto.groupby('make')['price'].median()
print(median_price)

make
alfa-romero      16500.0
audi             17580.0
bmw              22835.0
chevrolet         6295.0
dodge             7609.0
honda             7295.0
isuzu             8916.5
jaguar           35550.0
mazda            10595.0
mercedes-benz    32892.0
mercury          16503.0
mitsubishi        8499.0
nissan            8124.0
peugot           16630.0
plymouth          7609.0
porsche          33278.0
renault           9595.0
saab             15275.0
subaru            7894.0
toyota            9103.0
volkswagen        9737.5
volvo            18420.0
Name: price, dtype: float64

**List all cars that have a `wheel_base` greater than 100 and a `curb_weight` less than 2500.**

In [48]:
listcars = auto[(auto['wheel_base'] > 100) & (auto['curb_weight'] < 2500)]
print(listcars['make'])

9         bmw
10        bmw
169    toyota
170    toyota
171    toyota
172    toyota
173    toyota
Name: make, dtype: object

**Create a new column `price_per_hp` that calculates the price of the car per horsepower.**

In [49]:
auto['price_hp'] = auto['price'] / auto['horsepower']
print(auto[['make', 'price', 'horsepower', 'price_hp']])

            make  price  horsepower    price_hp
0    alfa-romero  13495         111  121.576577
1    alfa-romero  16500         111  148.648649
2    alfa-romero  16500         154  107.142857
3           audi  13950         102  136.764706
4           audi  17450         115  151.739130
..           ...    ...         ...         ...
196        volvo  16845         114  147.763158
197        volvo  19045         160  119.031250
198        volvo  21485         134  160.335821
199        volvo  22470         106  211.981132
200        volvo  22625         114  198.464912

[201 rows x 4 columns]

**Count how many cars have a `number_of_doors` as `four`.**

In [50]:
doors = auto[auto['number_of_doors'] == 'four'].shape[0]
print(doors)

114

**Find the top 5 cars based on their `highway_mpg` and `price`.**

In [51]:
top_5 = auto.sort_values(by=['highway_mpg', 'price'], ascending=[False, False]).head(5)
print(top_5[['make', 'highway_mpg', 'price']])

          make  highway_mpg  price
29       honda           54   6479
17   chevrolet           53   5151
87      nissan           50   7099
155     toyota           47   7788
156     toyota           47   7738

**How many cars have missing values in the `normalized_losses` column?**

In [53]:
missing_values = auto['normalized_losses'].isnull().sum()

print(missing_values)

0

**Create a new column `car_age` that calculates the age of the car based on the `year_of_manufacture` (assume the current year is 2025).**

In [54]:
auto['car_age'] = 2025 - auto['year_of_manufacture']
print(auto[['make', 'year_of_manufacture', 'car_age']])
#year_of_manufacture column is not present in the given csv file

KeyError: 'year_of_manufacture'

### The END